export(average_sampling_time_for_genotypes)
export(compatible_genotypes)
export(expected_sampling_time_for_genotype)
export(expected_sampling_time_for_genotype_list)
export(get_compatible_observations)
export(loglikelihood_cbn)
export(make_empty_poset)
export(make_linear_poset)
export(make_random_poset)
export(marginal_probability_for_mutations)
export(maximal_poset)
export(orderIdeals)
export(otcbn)
export(otcbn_prec)
export(probability_of_compatible_genoptype)
export(sample_timed_genotypes)
export(sampling.const)
export(sampling.expo)
export(sampling.norm)
export(violation_freqs)
